/* in this section, we are styling the navigation bar*/
html, body{
    margin: 0px;
    font-family: 'Raleway', sans-serif; 
}
body {
     /* scroll thumb and track */
}

.body-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-main {
    width: 50%;
} 
